{% extends 'base.html' %}

{% block title %}Build Your Pokemon Team{% endblock %}

{% block content %}

<style>
   body, html {
      height: 100%;
      margin: 0;
    }


  body {
    background-image: url('https://storage.ko-fi.com/cdn/useruploads/display/407ea033-7613-4b53-bb0a-39de33fedfab_pokemonoverlay.png'); 
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    background-attachment: fixed;
  }
</style>
  <div class="container mt-4" style="height: 100%">
    
  <h3 style="margin-top: 90px;">
    <strong>Add Pokemon To Your Team!</strong>
  </h3>

    <form method="post" style="max-width: 400px; margin: auto; margin-top: 10px;">
      {{ form.hidden_tag() }}

      <div class="col-12">
        {{ form.pokemon_name.label }}
        {{ form.pokemon_name(class='form-control mt-2', placeholder='Pokemon Name')}}

    </div>
      <div class="col-12" style="margin-top: 5px;">
        {{ form.search(class='btn btn-primary') }}
      </div>

    </form>

    {% if error_code %}
      <div class="alert alert-danger mt-3" role="alert">{{ error_code }}</div>
    {% endif %}
    {% if data %}
    <div class="col-md-6"  style="width: 20em;">
      <img class="card-img-top" src="{{ data.sprite }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ data.name.title() }}</h5>
        <p class="card-text">Health Points: {{ data.hp }}</p>
        <p class="card-text">Attack: {{ data.attack }}</p>
        <p class="card-text">Defense: {{ data.defense }}</p>
        <p class="card-text">Type: {{ data.types.title() }}</p>

        {{ form.submit(class='btn btn-primary') }}
      </div>
    </div>
    {% endif %}
  </div>
  

{% endblock %}