{% extends 'base.html' %}

{% block title %}Build Your Pokemon Team{% endblock %}

{% block content %}
  <div class="container mt-4">
    
    <h1>Add Pokemon to Your Team</h1>

    <form method="post" style="max-width: 400px; margin: auto;">
      {{ form.hidden_tag() }}

      <div class="col-12">
        {{ form.pokemon_name.label }}
        {{ form.pokemon_name(class='form-control mt-2', placeholder='Pokemon Name')}}

    </div>
      <div class="col-12">
        {{ form.submit(class='btn btn-primary') }}
    </div>

      <!-- {% for field in form.pokemons %}
        <div class="mb-3">
          <label for="{{ field.id }}" class="form-label">Choose a Pokemon</label>
          {{ field(class="form-control", id=field.id) }}
        </div>
      {% endfor %} -->

      <!-- <button type="submit" class="btn btn-primary">Add to Team</button> -->
    </form>

    {% if error_code %}
      <div class="alert alert-danger mt-3" role="alert">{{ error_code }}</div>
    {% endif %}
    {% if data %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ data.sprite }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ data.name }}</h5>
        <p class="card-text">{{ data.hp }}</p>
        <p class="card-text">{{ data.attack }}</p>
        <p class="card-text">{{ data.defense }}</p>
        <a href="#" class="btn btn-primary">Add Pokemon</a>
      </div>
    </div>
    {% endif %}
  </div>
  

{% endblock %}