{% extends 'base.html' %}



{% block content %}

<div class="container-fluid justify-content-center">
    <div class="row justify-content-center shop-header p-5 text-center">
        <div class="col-3 ms-5 d-flex flex-column justify-content-center">
            <h2>You Want To Be A Pokemon Master?</h2>
            <h5>To Be The Best, You Have To Take Out The Best.</h5>
            <a href="#" class="btn btn-outline-light mt-3">PokeBattles!</a>
        </div>
    </div>
    <div class="row bg-dark p-3" style="background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 29%, rgb(0, 0, 0) 69%, rgb(0, 0, 0) 100%);"></div>
        <div class="col d-flex justify-content-center"></div>
        <div class="col d-flex justify-content-center"></div>
        <div class="col d-flex justify-content-center"></div>
    </div>
</div>


{% endblock content %}