<nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 29%, rgb(0, 0, 0) 69%, rgb(0, 0, 0) 100%);">
    <a class="navbar-brand" style="color:rgb(223, 234, 137)" href="/"><strong>PokeBattles!</strong></a>
    <button class="navbar-toggler" type="button" 
    data-toggle="collapse" 
    data-target="#navbarNav" 
    aria-controls="navbarNav" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" style="color:rgb(223, 234, 137)" href="/logout">Logout</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" style="color:rgb(223, 234, 137)" href="/profile">Profile<span class="sr-only">PokeDex</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:rgb(223, 234, 137)" href="/teams">Your Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:rgb(223, 234, 137)" href="/battle">Battle!</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" style="color:rgb(223, 234, 137)" href="/signin">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color:rgb(251, 64, 64)" href="/signup"><strong>Register</strong></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>